*
{
 margin:  0;
 padding:  0;
 box-sizing: border-box;
}

header
{
background: #141414;
padding-top:  100px;
padding-bottom: 100px;
margin-left: auto;
margin-right: auto;
width: 90%;
}


h1
{
  color: #8bcf1d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 634px)

{
  h1 {
  color: #fef601;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

}




